<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Deployment Tutorial 1</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<script>
    $(document).ready(function(){
    setInterval(function(){
   $.get("/insert", function(data){
    $('#coord1').text("x1: " + data.x1);
    $('#coord2').text("y1: " + data.y1);
    var trace1 = {
      x: [data.x1],
      y: [data.x2],
      mode: 'markers',
      type: 'scatter'
    };
    var layout = {
      xaxis: {
        range: [ 0, 18 ]
      },
      yaxis: {
        range: [ 0, 10 ]
      },
      title:'indoor-position'
    };
    var data = [trace1];
    Plotly.newPlot('myDiv', data, layout);

    });
    }, 1000);
    });
</script>
</head>

<body>
<h1>Indoor positioning</h1>
 <div>
     <h3 id="coord1"></h3>
     <h3 id="coord2"></h3>
 </div>
<div id="myDiv"></div>
</body>
</html>