<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Deployment Tutorial 1</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
function updateMsg() {
  $.ajax({
    url: "/insert",
    cache: false,
    success: function(html){
      $("#div_referesh").html(html);
    }
   });
   setTimeout('updateMsg()', 1000);
}
updateMsg();

</script>
</head>

<body>
 <div id="div_refresh">

 </div>
</body>
</html>