<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Deployment Tutorial 1</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$(document).ready(function(){
var requests = $.get('/insert')
$('#div_refresh').load(requests.data)
setInterval(function() {
            var requests = $.get('/insert')
            $("#div_refresh").load(requests.data);
        }, 1000);
});

</script>
</head>

<body>
<h1>Indoor positioning</h1>
 <div id="div_refresh">

 </div>
</body>
</html>